[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
goose3 = "*"
news-please = "*"
requests = "*"
pendulum = "*"
ftfy = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
nltk = "*"
pycld2 = {file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/pycld2-0.31-cp36-cp36m-win_amd64.whl", sys_platform = "== 'win32'"}
pyicu = {file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/PyICU-2.2-cp36-cp36m-win_amd64.whl", sys_platform = "== 'win32'"}
polyglot = {git = "https://github.com/aboSamoor/polyglot.git",ref = "master"}
tensorflow = "*"
keras = "*"
pandas = "*"
tornado = "*"

[requires]
python_version = "3.6"
