[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
memory-profiler = "*"
matplotlib = "*"

[packages]
goose3 = "*"
news-please = "*"
requests = "*"
pendulum = "*"
ftfy = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
nltk = "*"
polyglot = {git = "https://github.com/aboSamoor/polyglot.git",ref = "master"}
tensorflow = "==1.15.2"
keras = "==2.2.4"
pandas = "*"
tornado = "*"
pycld2 = "*"
pyicu-binary = "*"
talos = "*"
numpy = "*"
tinydb = "*"
click = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
